<div class="mainCont">
    <%=image_tag("golfswing.jpg", :class=> "welcomeim") %>
    
    <h1>Home page</h1>
    <p>Welcom to the new golf home page!</p>
    <br>
    <p>Later we will fill this with dynamic content.......</p>
    
</div>